/*--
    Common Css
--*/
html, body {
    height: 100%;
}

body {
    font-weight: 300;
    color: #3b4045;
    font: 16px/20px 'Noto Sans', sans-serif, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: #f9f9f9;
    opacity: 1 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 600;
}

h1 {
    font-size: 44px;
    line-height: 56px;
    color: #fff;
}

h2 {
    font-size: 30px;
    line-height: 35px;
}

h3 {
    font-size: 23px;
    line-height: 25px;
}

h4 {
    font-size: 20px;
    line-height: 24px;
}

h5 {
    font-size: 18px;
    line-height: 24px;
}

p {
    font-size: 16px;
    line-height: 25px;
    margin: 10px 0;
}


a {
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

a:focus,
.btn:focus,
.btn:active:focus {
    box-shadow: none;
    outline: 0 none;
}

a,
a:active,
a:focus,
a:active {
    text-decoration: none;
}

.home-img {
    width: 100%;
}

/* Layouts */
.container.main {
    max-width: 900px;
}

#main {
}

#main .container.main {
    min-height: calc(100vh - 120px);
    padding: 20px 25px;
    background: #fffffffa;
    padding-top: 40px;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 40px;
}

.single-sep {
    border-width: 2px;
    border-color: black;
    max-width: 150px;
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 0;
}

/*-- site intro --*/
.site-quote {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
}

.site-logo {
    text-align: center;
    position: relative;
    height: 140px;
}

.site-quote {
    text-align: center;
    font-size: 16px;
    margin: 10px 70px 20px;
}

@media screen and (max-width: 640px) {
    .site-quote {
        margin: 5px 15px;
    }
}

/*--
    custom heading
--*/
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.heading {
    text-align: center;
    color: #777777;
    padding-bottom: 70px;
}

.heading h2 {
    color: #3c3c3c;
    padding-bottom: 15px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
}

.heading p {
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
}

.btn {
    border-radius: 0;
}

.btn-home {
    background-color: #1bafb4;
    border-radius: 0px;
    color: #fff;
    font-size: 18px;
    padding: 10px 40px;
    margin-top: 30px;
}

.btn-home:hover,
.btn-home:focus {
    background-color: #fff;
    color: #555;
    border: 1px solid #fff;
}

/*Preloader*/
#preloader {
    background-color: #fff;
    bottom: auto;
    height: 100%;
    left: auto;
    position: fixed;
    right: auto;
    top: auto;
    width: 100%;
    z-index: 9999;
}

.book {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    margin: 0 auto;
    border: 5px solid #ecf0f1;
    width: 100px;
    height: 60px;
}

.book__page {
    position: absolute;
    left: 50%;
    top: -5px;
    margin: 0 auto;
    border-top: 5px solid #ecf0f1;
    border-bottom: 5px solid #ecf0f1;
    border-right: 5px solid #ecf0f1;
    background: #1bafb4;
    width: 50px;
    height: 60px;
    -webkit-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-animation: flip 1.2s infinite linear;
    animation: flip 1.2s infinite linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.book__page:nth-child(1) {
    z-index: -1;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.book__page:nth-child(2) {
    z-index: -2;
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
}

.book__page:nth-child(3) {
    z-index: -3;
    -webkit-animation-delay: 4.2s;
    animation-delay: 4.2s;
}

@-webkit-keyframes flip {
    0% {
        -webkit-transform: perspective(600px) rotateY(0deg);
        transform: perspective(600px) rotateY(0deg);
    }

    20% {
        background: #1bafb4;
    }

    29.9% {
        background: #1bafb4;
    }

    30% {
        -webkit-transform: perspective(200px) rotateY(-90deg);
        transform: perspective(200px) rotateY(-90deg);
        background: #1bafb4;
    }

    54.999% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    60% {
        -webkit-transform: perspective(200px) rotateY(-180deg);
        transform: perspective(200px) rotateY(-180deg);
        background: #1bafb4;
    }

    100% {
        -webkit-transform: perspective(200px) rotateY(-180deg);
        transform: perspective(200px) rotateY(-180deg);
        background: #1bafb4;
    }
}

@keyframes flip {
    0% {
        -webkit-transform: perspective(600px) rotateY(0deg);
        transform: perspective(600px) rotateY(0deg);
    }

    20% {
        background: #1bafb4;
    }

    29.9% {
        background: #1bafb4;
    }

    30% {
        -webkit-transform: perspective(200px) rotateY(-90deg);
        transform: perspective(200px) rotateY(-90deg);
        background: #1bafb4;
    }

    54.999% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    60% {
        -webkit-transform: perspective(200px) rotateY(-180deg);
        transform: perspective(200px) rotateY(-180deg);
        background: #1bafb4;
    }

    100% {
        -webkit-transform: perspective(200px) rotateY(-180deg);
        transform: perspective(200px) rotateY(-180deg);
        background: #1bafb4;
    }
}

/*--
    .hero-area start
--*/

.bg-gray {
    background: #f8f8f8;
}

.hero-area {
    background-size: cover;
    background-attachment: fixed;
    min-height: 350px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-area .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}

.hero-area h1 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: normal;
    padding-bottom: 30px;
}

.hero-area .hero-subtitle {
    font-size: 18px;
    color: white;
}

.hero-area .btn {
    margin-bottom: 10px;
}

.float-none {
    float: none;
}

@media only screen and (min-width: 991px) {
    .float-lg-left {
        float: left;
    }
}

/* .hero-area  */
.navigation {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    padding: 20px;
    margin: 0;
    border: 0;
    background: white !important;
}

.navigation .navbar-brand {
    padding-top: 5px;
    display: inline-block;
}

.navigation .navbar-toggler {
    background-color: #fff;
    outline: none;
    border-radius: 8px;
    float: right;
}

.navigation .navbar-toggler i {
    font-size: 22px;
}

.navigation.animated {
    background-color: #fff;
    box-shadow: 0 2px 7px 0px rgba(142, 142, 142, 0.15);
}

.navigation.animated .menu a {
    color: #666;
}

.menu li a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.menu li a:hover,
.menu li a:focus {
    background: none;
}

.navbar-nav .nav-item + .nav-item {
    margin-left: 0px;
}

#lang-mobile {
    float: right;
}

#lang-mobile .LangNav {
    margin: 3px 10px;
}

.LangNav {
    margin: 15px 5px;
    display: table;
    float: right;
}

.LangNav .flag-link,
.LangNav #btn-lang {
    display: table-cell;
    padding: 5px;
    border-radius: 100px;
    background: #fefefe;
    box-shadow: 0 0 2px #ccc;
    width: 32px;
    height: 32px !important;
    box-sizing: border-box;
    text-align: center;
}

.LangNav #btn-lang:hover,
.LangNav .flag-link:hover {
    box-shadow: 0 0 4px #aaa;
}

.LangNav .flag-img {
    width: 25px;
    height: 25px;
}

.LangNav .dropdown-menu {
    background: transparent;
    border: none;
    min-width: auto;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

/*.LangNav .flag-link {*/
/*  display: block;*/
/*  width: 100%;*/
/*  padding: 5px 10px;*/
/*  text-decoration: none;*/
/*}*/
/*.LangNav .flag-link:hover {*/
/*  background: #eee;*/
/*}*/
/*.LangNav .flag-link .flag-img {*/
/*  margin-right: 5px;*/
/*}*/
/* Top nav */
#top-nav {
    padding: 0px;
    background: url(../img/paper-bg.png) repeat-x #fefefe;
    box-shadow: 0 1px 3px #ccc;
    border-top: 8px solid #7DA53F;
}

#top-nav .container.main {

}

/*@media all and (min-width: 641px) {*/
/*  #top-nav {*/
/*    background: url(../img/square_bg.png) repeat-x #fefefe;*/
/*  }*/
/*}*/
#menu-mobile {
    margin-top: 10px;
}

#menu-mobile::after {
    content: "";
    display: table;
    clear: both;
}

#menu-mobile .navbar-toggler {
    background-color: white;
    float: right;
    margin: 3px 5px;
    width: 2em;
    border-radius: 100px;
    border: none;
    width: 35px;
    height: 35px;
}

#menu-mobile .LangNav {
    margin-right: 0;
}

#top-right-nav {
    float: right;
    margin: 10px 0;
}

#top-right-nav .nav-item {
    margin-right: 1px;
}

#top-right-nav .nav-item .nav-link {
    line-height: 15px;
    padding: 15px;
    word-break: break-word;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
}

#top-right-nav .nav-item .nav-link::after {
    position: absolute;
    right: 5px;
    top: 50%;
}

#top-right-nav .nav-item .nav-link,
#top-right-nav .dropdown-menu .dropdown-item {
    color: #333;
    font-size: 15px;
}

#top-right-nav li > a {
    border-radius: 5px;
}

#top-right-nav .nav-item:focus > a,
#top-right-nav .nav-item:hover > a,
#top-right-nav .nav-item.active > a {
    color: #7DA53F;
    font-weight: bold;
}

#brand-logo {
    height: 50px;
    background: white;
    border-radius: 100px;
    box-shadow: 0 0 2px #ccc;
}

#brand-name {
    margin-left: 10px;
    font-weight: bold;
    color: black;
    text-shadow: 3px 3px 2px white;
}

#brand-name:hover {
    color: black;
}

/*-- Block quote --*/
blockquote {
    padding-left: 20px;
    border-left: 2px solid #666;
    margin-left: 10px;
}

@media screen and (max-width: 640px) {
    blockquote {
        margin-left: 5px;
        padding-left: 10px;
    }
}

blockquote > .content {
    font-size: 15px;
    quotes: "“" "”" "‘" "’";
    padding: 10px 20px;
    line-height: 1.4;
    color: black;
    margin: 0;
    position: relative;
}

blockquote > .content p {
    margin-top: 0;
}

blockquote .footer {
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 18px;
    font-style: italic;
}

blockquote > .content::before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    position: absolute;
    top: 20px;
    left: 5px;
    color: black;
    font-size: 3em;
}

blockquote > .content::after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    right: 30px;
    position: absolute;
    bottom: 10px;
    color: black;
    font-size: 3em;
}

/*--
    service start
--*/
.service {
    text-align: center;
}

.service .block {
    margin-bottom: 50px;
}

.service .block i {
    font-size: 30px;
    display: inline-block;
    margin-bottom: 15px;
    color: #1bafb4;
}

.service .block h3 {
    color: #333333;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.service .block p {
    color: #666;
}

.input-field label {
    color: rgba(237, 28, 36, 0.7);
}

.form-group .input-field + .input-field {
    margin-top: 10px;
}

.input-field textarea.form-control {
    height: 160px;
    box-shadow: none;
}

.form-group {
    margin-top: 10px;
}

.img-responsive {
    max-width: 100%;
}

#success,
#error {
    display: none;
}

/* Intro */
#main-intro {
    font-size: 15px;
}

#main-author {
    font-size: 15px;
    font-weight: bold;
}

/* Book summary */
#book-summary {
    display: flex;
    flex-wrap: wrap;
}

#book-summary .book-item {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 20px;
    background: white;
    border: 1px solid #f9f9f9;
    border-right: none;
    border-radius: 5px;
    transition: all 0.2s;
}

#book-summary .book-item:last-child,
#book-summary .book-item:nth-child(3n) {
    border-right: 1px solid #f9f9f9;
}

#book-summary .book-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    border-color: white;
}

#book-summary .book-item .book-title,
#book-summary .book-item .book-author {
    margin: 0;
    line-height: 20px;
}

#book-summary .book-item .book-author {
    font-size: 12px;
}

#book-summary .book-item .book-title {
    margin-top: 20px;
    font-weight: bold;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-size: 15px;
}

#book-summary .book-item a {
    text-decoration: none;
    color: black;
}

#book-summary .book-item .book-cover {
    height: 240px;
    width: auto;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    box-shadow: -3px 3px 8px #555;
    border-radius: 2px;
}

@media only screen and (max-width: 640px) {
    #book-summary .book-item {
        width: 50%;
    }

    #main .container.main {
        padding: 10px;
    }

    .single-content {
        padding: 10px;
    }

    .single-sep {
        margin-bottom: 20px;
    }
}

/* Single content  */
.single-content {
    padding: 0 40px;
    overflow: hidden;
}

@media only screen and (max-width: 640px) {
    .single-content {
        padding: 10px;
    }
}

.book-aff {
    margin: 40px 20px;
}

.book-aff .book-mini-cover {
    box-shadow: -7px 7px 12px #888;
    cursor: pointer;
    border-radius: 5px;
    height: 300px;
}

/* pop up */
.single-pop {
    position: fixed;
    top: 20%;
    right: 0;
    z-index: 2;
    background: transparent;
}

.single-pop .book-link {
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
}

.single-pop .book-mini-cover {
    height: 150px;
    width: auto;
    max-width: 100%;
    box-shadow: 0 0 5px #555555;
}

.single-mobile-pop {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 80px;
    height: 100px;
    background: white;
    border-radius: 50px 0 0 0;
    box-shadow: 0 0 25px #555;
}

.single-mobile-pop .book-link {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: center;
}

.single-mobile-pop .book-link .call {
    margin: 0;
    margin-top: 5px;
    line-height: 10px;
    font-size: 9px;
    font-weight: bold;
}

.single-mobile-pop .book-mini-cover {
    width: auto;
    height: 70px;
    max-width: 60px;
    border: 1px solid #eee;
    border-radius: 3px;
}

/*Rating*/
.book-rating {
    height: 15px;
    width: 75px;
    margin-top: 5px;
    background: url(/images/star_none.png) repeat-x;
    position: relative;
}

.book-rating-star {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: url(/images/star_gold.png) repeat-x;
}

.single-content .book-rating {
    float: right;
}

.single-text figure img {
    border-radius: 3px;
    box-shadow: 0 0 3px #999;
}

#page-meta {
    margin-top: 20px;
    text-align: right;
}

/* pagination */
.pagination-wrapper {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.page-link {
    color: #383e30;
    padding: .25rem .65rem;
    margin-left: -1px;
    border: 1px solid #ddd;
    border-radius: 200px;
    margin-right: 10px;
    background: white;
}

.page-link:focus, .page-link:hover {
    text-decoration: none;
    background-color: #eee;
    border-color: #d0d0d0;
}

.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
    background-color: #383e30;
    border-color: #1a1d16;
    text-decoration: none;
}

.page-item.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

/* ripple animation */
#site-icon {
    position: absolute;
    width: 128px;
    height: 128px;
    background: white;
    background-size: 128px 128px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;

    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    /* border-radius: 50% has issues on some mobile browsers */
}

.pulse1 {
    position: absolute;
    width: 130px;
    height: 130px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    border: 3px solid rgba(255, 255, 255, .1);

    -webkit-animation: pulsejg1 6s linear infinite;
    -moz-animation: pulsejg1 6s linear infinite;
    animation: pulsejg1 6s linear infinite;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    -webkit-box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
    -moz-box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
    box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pulse2 {
    position: absolute;
    width: 130px;
    height: 130px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    border: 1px solid rgba(255, 255, 255, 0);

    -webkit-animation: pulsejg2 6s linear infinite;
    -moz-animation: pulsejg2 6s linear infinite;
    animation: pulsejg2 6s linear infinite;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    -webkit-box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);
    -moz-box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);
    box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@-webkit-keyframes pulsejg1 {
    0% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }

    50% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }

    60% {
        -webkit-transform: scale(.9);
        opacity: .2;
    }

    70% {
        -webkit-transform: scale(1.1);
        opacity: .35;
    }

    80% {
        -webkit-transform: scale(1.25);
        opacity: .2;
    }

    100% {
        -webkit-transform: scale(1.4);
        opacity: 0;
    }
}

@-moz-keyframes pulsejg1 {
    0% {
        -moz-transform: scale(.6);
        opacity: 0;
    }

    50% {
        -moz-transform: scale(.6);
        opacity: 0;
    }

    60% {
        -moz-transform: scale(.9);
        opacity: .2;
    }

    70% {
        -moz-transform: scale(1.1);
        opacity: .35;
    }

    80% {
        -moz-transform: scale(1.25);
        opacity: .2;
    }

    100% {
        -moz-transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes pulsejg1 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    50% {
        transform: scale(.6);
        opacity: 0;
    }

    60% {
        transform: scale(.9);
        opacity: .1;
    }

    70% {
        transform: scale(1.1);
        opacity: .25;
    }

    80% {
        transform: scale(1.25);
        opacity: .1;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

@-webkit-keyframes pulsejg2 {
    0% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }

    40% {
        -webkit-transform: scale(.8);
        opacity: .05;
    }

    50% {
        -webkit-transform: scale(1);
        opacity: .1;
    }

    60% {
        -webkit-transform: scale(1.1);
        opacity: .3;
    }

    80% {
        -webkit-transform: scale(1.2);
        opacity: .1;
    }

    100% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}

@-moz-keyframes pulsejg2 {
    0% {
        -moz-transform: scale(.6);
        opacity: 0;
    }

    40% {
        -moz-transform: scale(.8);
        opacity: .05;
    }

    50% {
        -moz-transform: scale(1);
        opacity: .1;
    }

    60% {
        -moz-transform: scale(1.1);
        opacity: .3;
    }

    80% {
        -moz-transform: scale(1.2);
        opacity: .1;
    }

    100% {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes pulsejg2 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    40% {
        transform: scale(.8);
        opacity: .05;
    }

    50% {
        transform: scale(1);
        opacity: .1;
    }

    60% {
        transform: scale(1.1);
        opacity: .3;
    }

    80% {
        transform: scale(1.2);
        opacity: .1;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}