{{ if eq .Type "books" }}
    <!--Desktop Pop-->
    <div class="single-pop hidden-xs-down animated fadeInRight">
        {{ partial "affiliate-link.html" . }}
    </div>
    <!--Mobile pop-->
    <div class="single-mobile-pop hidden-sm-up animated fadeInRight">
        {{ partial "affiliate-link.html" . }}
    </div>
{{ end }}