{{ $cover := .Resources.GetMatch "images/cover.*" }}
<a target="_blank"  class="book-link" href="{{ .Params.afflink | default "#" }}" title="Buy on {{ .Params.affiliate | default "" }}">
    {{ if .Params.affimg  }}
    <img class="book-mini-cover" border="0" src="{{ .Params.affimg  }}">
    {{ else if $cover }}
        <img class="book-mini-cover" border="0" src="{{ $cover.RelPermalink}}">
    {{ else }}
        <img class="book-mini-cover" border="0" src="/static/img/cover.jpg">
    {{ end }}
</a>
<img src="{{ .Params.affimgextra }}" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

