{{ if .Params.rating }}
    {{ $rating := mul (div .Params.rating 5.0) 100 }}
    <div class="book-rating">
        <div class="book-rating-star" style="width:{{$rating}}%"></div>
    </div>
{{ end }}