{{"<!-- Js -->" | safeHTML}}
<script type="application/javascript">
    QUOTE_PATH = "{{.Site.BaseURL}}/quotes_{{ .Lang }}.json";
</script>
<script src="{{"js/cssrelpreload.js" | absURL}}" defer></script>
<script src="{{"js/vendor/jquery-2.1.1.min.js" | absURL}}"></script>
<script src="{{"js/bootstrap.min.js" | absURL}}" defer></script>
<script src="{{"js/vendor/modernizr-2.6.2.min.js" | absURL}}" defer></script>
<script src="{{"js/jquery.nav.js" | absURL}}" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script src="{{"js/wow.min.js" | absURL}}" defer></script>
<script src="{{"js/main.js" | absURL}}" defer></script>