<footer>
    <!--Footer bottom-->
    <div id="footer-bottom" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                </div>
            </div>
        </div>
    </div>
</footer>
{{ partial "bottom-scripts.html" . }}
</body>
</html>
