<!DOCTYPE html>
<html class="no-js" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    <title> {{.Site.Title}} </title>
    {{"<!-- Open graph meta -->" | safeHTML }}
    {{ partial "meta.html" . }}

    {{ hugo.Generator }}

    <!-- Style fonts -->
    {{ partial "styles.html" . }}

    <!-- JS preloads -->
    {{ partial "preload-links.html" . }}

    {{"<!-- Google analytics -->" | safeHTML }}
    {{ partial "ga.html" . }}
</head>
<body id="body">
