<div class="section-home" id="main" >
    <div class="container main">
        <!-- Site intro -->
        <section id="site-intro">
            <div class="site-logo">
                {{ with .Site.Params.logo }}
                <div class="pulse1"></div>
                <div class="pulse2"></div>
                <img id="site-icon" src="{{ . }}" alt="logo">
                {{ end }}
            </div>
            <div class="site-quote">
                <p>
                    <span id="main-intro"></span>
                    <footer id="main-author"></footer>
                </p>
                <br>
            </div>
        </section>
        <!-- Post summary -->
        <section id="book-summary">
            {{ $paginator := .Paginate (where .Site.RegularPages "Section" "books") }}

            {{ range $paginator.Pages }}
                {{ if not .Params.disable }}
                <div class="book-item">
                    <a href="{{ .Permalink }}" title="{{ .Params.title }}">
                        {{ with .Resources.Match "images/cover.*" }}
                            {{ range . }}<img class="book-cover" src="{{ .RelPermalink }}">{{ end }}
                        {{ end }}
                        <p class="book-title">{{ .Params.title }}</p>
                        <p class="book-author">{{ .Params.author }}</p>
                        {{ partial "book-rating.html" . }}
                    </a>
                </div>
                {{ end }}
            {{ end }}
        </section>
        <div class="pagination-wrapper">{{ template "_internal/pagination.html" . }}</div>
        <!-- Meta -->
<!--        <section>-->
<!--            <div id="page-meta">-->
<!--                <img src="https://page-views.glitch.me/badge?page_id={{ .Site.BaseURL }}" alt="Views"/>-->
<!--            </div>-->
<!--        </section>-->
    </div>
</div>
