<nav class="LangNav dropdown">
    {{ $curFlag :=  print "flags." .Lang }}
    {{ $curLang :=  .Lang }}
    <a id="btn-lang" data-toggle="dropdown" href="#">
        <img class="flag-img" src="{{ $.Param $curFlag }}"/>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    {{ range .Site.Languages }}
        {{ if not (eq $curLang .Lang) }}
            {{ $curFlag :=  print "flags." .Lang }}
            {{ $curLink :=  print "domains." .Lang }}
            <li>
                <a class="flag-link" href="{{ $.Param $curLink }}" >
                    <img class="flag-img" src="{{ $.Param $curFlag }}"/>
                </a>
            </li>
        {{ end}}
    {{ end}}
    </ul>
</nav>