{{ $curDesc :=  print "descriptions." .Lang }}
{{ $curImg :=  print "mainImgs." .Lang }}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ .Site.Title }}" />
<meta property="og:description" content="{{ $.Param $curDesc }}" />
<meta property="og:image" content="{{ $.Param $curImg }}" />
<meta name="description" content="{{ $.Param $curDesc }}" />