{{ $currentPage := . }}
<nav class="navbar navbar-light fixed-top" id="top-nav">
    <div class="container main">
        <div class="row">
            <div class="col-sm-4">
                {{ $curHome :=  print "domains." .Lang }}
                <a class="navbar-brand float-left" href="{{ $.Param $curHome }}">
                    {{ with .Site.Params.logo }}
                    <img id="brand-logo" src="{{ . }}" alt="logo">
                    {{ end }}
                    <span id="brand-name">Zenbookmaps</span>
                </a>

                <div class="hidden-sm-up" id="menu-mobile">
                    <button class="navbar-toggler hidden-sm-up float-right" type="button" data-toggle="collapse"
                            data-target="#navbar-responsive">
                    </button>
                    <div id="lang-mobile">
                        {{ partial "lang-bar.html" . }}
                    </div>
                </div>
            </div>
            <div class="col-sm-8">


                <div class="hidden-xs-down">
                    {{ partial "lang-bar.html" . }}
                </div>
                <div class="collapse navbar-toggleable-sm" id="navbar-responsive">
                    <ul class="nav navbar-nav menu" id="top-right-nav">
                        {{ range .Site.Menus.main }}
                            {{ if not (hasPrefix .Identifier "home-") }}
                                {{ if .HasChildren }}
                                <li class="nav-item dropdown {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{.URL}}">{{.Title}}</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {{ range .Children }}
                                        <li class="{{ if eq .URL $currentPage.RelPermalink }}active{{ end }}">
                                            <a class="dropdown-item" href="{{ .URL }}">{{ .Title }} </a>
                                        </li>
                                        {{ end }}
                                    </ul>
                                </li>
                                {{ else }}
                                <li class="nav-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                    <a class="nav-link" href="{{.URL}}">{{.Title}}</a>
                                </li>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </ul>
                </div>
            </div>

        </div>
    </div>

</nav>
