<link rel="preload" href="{{"js/cssrelpreload.js" | absURL}}" as="script"></link>
<link rel="preload" href="{{"js/vendor/jquery-2.1.1.min.js" | absURL}}"></link>
<link rel="preload" href="{{"js/bootstrap.min.js" | absURL}}" as="script"></link>
<link rel="preload" href="{{"js/vendor/modernizr-2.6.2.min.js" | absURL}}" as="script"></link>
<link rel="preload" href="{{"js/jquery.nav.js" | absURL}}" as="script"></link>
<link rel="preload" href="{{"js/wow.min.js" | absURL}}" as="script"></link>
<link rel="preload" href="{{"js/main.js" | absURL}}" as="script"></link>