{{ $currentPage := . }}
<section class="section-single" id="main" >
    <div class="container main">
        <div class="single-page">
            <!-- Main content -->
            <div class="single-content">
                <!-- Title-->
                <div class="row">
                    <div class="col-sm-8">
                        <h3 class="single-title">{{ .Title }}</h3>
                    </div>
                    <div class="col-sm-4">
                        {{ partial "book-rating.html" . }}
                    </div>
                </div>
                <hr class="single-sep">
                <div class="single-text">
                    {{ partial "book-author.html" . }}

                    {{ if eq .Type "books" }}
                    <div class="book-aff">
                        <div class="animated zoomIn text-center">
                            {{ partial "affiliate-link.html" . }}
                        </div>
                    </div>
                    {{ end }}

                    {{.Content}}


                </div>
            </div>
            {{ partial "affiliate-responsive.html" . }}

        </div>
    </div>
</section>
