{{"<!-- Fonts -->" | safeHTML }}
<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
<link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Quicksand" onload="this.onload=null;this.rel='stylesheet'">
{{ "<!-- Stylesheets -->" | safeHTML }}
<style>
    body{
        opacity: 0;
        transition: opacity 0.2s;
    }
</style>
<link rel="stylesheet" href="{{ "css/bootstrap.min.css" | absURL }}">
<link rel="preload" as="style" href="{{ "css/animate.css" | absURL }}" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" as="style" href="{{ "css/style.css" | absURL }}" onload="this.onload=null;this.rel='stylesheet'">
{{"<!-- Responsive Stylesheet -->" | safeHTML }}
<link rel="preload" as="style" href="{{ "css/responsive.css" | absURL }}" onload="this.onload=null;this.rel='stylesheet'">
<link rel="shortcut icon" type="image/png" href="/img/icon-book.png"/>