<div class="row">
<div class="{{ .Get "left-cls" }}">
{{ .Inner | markdownify }}
</div>
<div class="{{ .Get "right-cls" }}">
{{ $imgSrc := .Get "img-src" }}
{{ $imgAlt := .Get "img-alt" }}
<figure class="text-center">
<img class="img-responsive" src="{{ $imgSrc }}" alt="({{$imgAlt}})" />
</figure>
</div>
</div>
