{{ $img := $.Page.Resources.GetMatch (.Get 0)}}
{{ $addLink := .Get 3 | default false }} <!-- Check if the 4th parameter is passed, default to false if not -->
<!-- Test {{$addLink}} -->
<figure class="text-center">
	{{ if $addLink }}
	<a href="{{ $img.RelPermalink }}" target="_blank">
		<img class="img-responsive" src="{{ $img.RelPermalink }}" alt="({{.Get 1}})" style="{{.Get 2}}" />
	</a>
	{{ else }}
	<img class="img-responsive" src="{{ $img.RelPermalink }}" alt="({{.Get 1}})" style="{{.Get 2}}" />
	{{ end }}

</figure>