{{ define "main" }}
<section class="section-single" id="main" >
    <div class="container main">
        <main>
            <article>
                <header>
                    <h3 class="list-title">{{ .Title }}</h3>
                </header>
                <hr class="single-sep">
                <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
                {{.Content}}
            </article>
            <ul>
                <!-- Ranges through content/posts/*.md -->
                {{ range .Pages }}
                <li>
                    <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
                </li>
                {{ end }}
            </ul>
        </main>
    </div>
</section>
{{ end }}